@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* hides the native tabs
#TabsToolbar {
   visibility: collapse;
 } */

/* to hide the sidebar header */
/* #sidebar-header {
   visibility: collapse;
} */

/* Requires toolkit.legacyUserProfileCustomizations.stylesheets = true in about:config */
/* #main-window[tabsintitlebar="true"]:not([extradragspace="true"]) #TabsToolbar > .toolbar-items {
   opacity: 0;
   pointer-events: none;
}
#main-window:not([tabsintitlebar="true"]) #TabsToolbar {
   visibility: collapse !important;
} */
#TabsToolbar > .toolbar-items {
   opacity: 0;
   pointer-events: none;
}

/* #TabsToolbar {
   visibility: collapse !important;
} */

#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"] #sidebar-header {
   display: none;
 }